[submodule "AtomHackMarsService"]
	path = AtomHackMarsService
	url = https://github.com/SicParv1sMagna/AtomHackMarsService
[submodule "AtomHackBackend"]
	path = AtomHackBackend
	url = https://github.com/SicParv1sMagna/AtomHackBackend
[submodule "AtomHackFrontend"]
	path = AtomHackFrontend
	url = https://github.com/SicParv1sMagna/AtomHackFrontend
[submodule "InitService"]
	path = InitService
	url = https://github.com/Sh1bari/InitService
[submodule "DelayService"]
	path = DelayService
	url = https://github.com/Sh1bari/DelayService
[submodule "atomHack-system-react"]
	path = atomHack-system-react
	url = https://github.com/gramizor/atomHack-system-react
