[submodule "AtomHackMarsService"]
	path = AtomHackMarsService
	url = https://github.com/SicParv1sMagna/AtomHackMarsService
[submodule "AtomHackFrontend"]
	path = AtomHackFrontend
	url = https://github.com/SicParv1sMagna/AtomHackFrontend
[submodule "InitService"]
	path = InitService
	url = https://github.com/Sh1bari/InitService
[submodule "DelayService"]
	path = DelayService
	url = https://github.com/Sh1bari/DelayService
[submodule "atomHack-system-react"]
	path = atomHack-system-react
	url = https://github.com/gramizor/atomHack-system-react
[submodule "AtomHackSenderService"]
	path = AtomHackSenderService
	url = https://github.com/certified-juniors/AtomHackSenderService
[submodule "AtomHackEarthBackend"]
	path = AtomHackEarthBackend
	url = https://github.com/certified-juniors/AtomHackEarthBackend
[submodule "AtomHackFrontendEarth"]
	path = AtomHackFrontendEarth
	url = https://github.com/CAPVOK/AtomHackFrontendEarth.git
